<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="light">
      <ion-buttons start>
        <button ion-button icon-only color="royal" (click)="search()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        <div style="color: #3d9d51;position: relative;top:20px;font-weight: 500;font-size: medium">
          <ion-row>
            Hamirpur To Una (<p style="position: relative;top:-15px">{{bus_number}}</p>)
          </ion-row>
        </div>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="confirm()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content >
  <div style="text-align: center">
    <button ion-button color="light" block outline style="border-radius: 0%;border-color:#3d9d51;width: 100%; box-shadow: 0px 0px 0px #3d9d51"><p style="color:#3d9d51;font-weight: 300 ">Bus Route</p></button>
  </div>


<ion-list  *ngFor="let stop of stoppage;let i=index">

  <div style="background-color: #b6bfb4;height: 17%;width: 1px;position:absolute;left: 10%;margin-top: 5%;" [hidden]="i==stoppage.length-1"></div>

    <ion-row style="margin-left: 6.5%" >
      <div  style="position: absolute;">
        <div style="  width: 25px; height: 25px;background: white;border: 1px solid red;border-radius: 50%;padding-left: 22%"
             *ngIf="i==stoppage.length-3">
          <button ion-fab class="spinner"  >

          </button>
        </div>



        <button ion-fab *ngIf="i<=stoppage.length-4"  style="background-color: #55b54a;">
          <ion-icon name="checkmark" style="font-size: 14px;font-weight:bold;"></ion-icon>
        </button>
        <button ion-fab *ngIf="i==stoppage.length-2"  style="background-color: #5a43e1;">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
        <button ion-fab *ngIf="i==stoppage.length-1"  style="background-color: #b53f67;">
          <ion-icon name="flag" style="font-size: 20px"></ion-icon>
        </button>




         </div>


      <p style="position: relative;left: 30px;top:-11px;font-size: medium;font-weight: 300">{{stop}}</p>
    </ion-row>

</ion-list>



</ion-content>
